Row {
 background-color: red;
}




/* @media (max-width:600px){
  .ant-layout {
    background-color: pink;
    width:100%;
  }
  .ant-layout-sider-children{
    position: absolute;
    left: -300px;
  }
} */